<table>
  <tr>
    <th>PLAYER</th>
    <th>BANKROLL</th>
    <th>CURRENT BET</th>
    <th>CARDS</th>
    <th>SCORE</th>
  </tr>

  <% session[:game].players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.bankroll %></td>
    <td><%= player.bet %></td>
    <td><%= player.list_cards %></td>
    <td><%= player.total %></td>
  </tr>
  <% end %>

  <tr>
    <td><%= @dealer.name %></td>
    <td></td>
    <td></td>
    <td><%= @dealer.list_cards %></td>
    <td><%= @dealer.total %></td>
  </tr>
</table>

<p>Dealer has <%= @dealer_total %>.</p>
<p>You have <%= @player_total %>.</p>
<br>

<p>-- Round Results --</p>
<% @results_strings[:player_wins_losses].each do |result| %>
  <p><%= result %></p>
<% end %>

<br>
<% @results_strings[:broke_players].each do |broke_player| %>
  <p><%= broke_player %></p>
<% end %>

<br>
<% if session[:game].human_player.broke? %>
  <p>Sad and broke, you walk away from the table.</p>
  <form action = "/newgame" method = "get">
    <button type = "submit">Start over</button>
  </form>
<% else %>
  <form action = "/bet" method = "get">
    <button type = "submit">Play another hand</button>
  </form>
<% end %>